{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as helper %}

{% block title %}{{ webcam.name }}'s live{% endblock %}

{% block body %}

    <div id="live">

        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <img class="live img-fluid"
                         data-src="{{ path('last', {webcam: webcam.name, size: constant('App\\Enum\\Size::ORIGINAL').value}) }}"
                         src="{{ path('last', {webcam: webcam.name, size: constant('App\\Enum\\Size::ORIGINAL').value}) }}"
                    />
                    <div id="slider"></div>
                </div>
            </div>
        </div>

        <br/>

        <div class="card">
            <div class="card-header">
                <h3>Archives</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for archive in archives %}
                        <tr>
                            <td>
                                <a href="{{ path('archive', {webcam: webcam.name, name: archive.name}) }}">{{ archive.name }}</a>
                            </td>
                            <td>{{ archive.size|formatBytes }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}

    {{ helper.webcam_js() }}

    <script type="text/javascript">
        $('#slider').slider({
            min: 0,
            max: {{ constant('App\\Constants::SLIDER') }},
            value: {{ constant('App\\Constants::SLIDER') }},
            slide: function (event, ui) {
                renderHistory(ui.value);
            }
        });

        function renderHistory(value) {
            $('.live').attr('src', '{{ path('history', {webcam: webcam.name, size: constant('App\\Enum\\Size::ORIGINAL').value}) }}?tm=' + (Date.now() / 1000 | 0) + '&val=' + value);
        }

    </script>

{% endblock %}